body {
    margin: 0;
    padding: 0;
}

#welcome-section {
    background-image: url(https://images3.alphacoders.com/943/943846.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 0px;
}

ul {
    list-style-type: none;
    float: right;
}

li {
    display: inline-block;
    padding: 4px 15px;
    margin-top: 0px;
    margin-right: 10px;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    font-weight: bold;
}

li a:hover {
    color: white;
    border: solid white:

}

h1 {
    color: white;
    font-size: 5.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 150px;
    padding-left: 315px;
}

h3 {
    padding-left: 315px;
    font-size: 4.5em;
    color: white;
    font-family: roboto;
    margin-top: 0px;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    font-size: 2em;
    padding-left: 315px;
    color: white;
    font-family: roboto;
}

#projects {
    background-color: #505050;
    height: 100vh;
}

h2 {
    margin-top: 0;
    font-size: 3.5em;
    color: white;
    font-family: playfair;
    padding-top: 60px;
    padding-left: 75px;
}

.project-cards {
    display: flex;
    justify-content: space-around;
}